.wrapper {
  min-height: 75vh;
  padding: 30px;
  background-color: #e0d6d6;
}

nav {
  width: auto;
}

ul {
  margin: 0px;
  width: 500px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
}

li {
  gap: 10px;
  border: solid #e73639 1px;
  justify-content: center;
  color: black;
  font-size: 20px;
  width: 450px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  align-content: center;
  text-align: center;
  transition: transform 0.3s ease;
}

li:hover {
  background-color: #e73639;
  transform: scale(1.025, 1.025);
}

.active {
  background-color: #e73639;
  transform: scale(1.1, 1.1);
  color: white;
}

.logo {
  object-fit:cover;
  
}

.tabs{
    width: 100%;
}

label{
    color: #e73639;
    
}

.square {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 20px;
}

input[type="file"] {
  display: none;
}

.upload {
  color:#e73639 ;
  text-decoration:underline;
  display: inline-block;
  padding: 6px 12px;
  font-size: 30px;
  cursor: pointer;
}


.gap-4 {
    gap: 4rem;
}

input{
    border-radius: 5px;
    height: 45px;
    min-width: 340px;
    padding: 20px;
    padding-left: 40px;
    
}
button{
    border-radius: 5px;
    height: 45px;
    min-width: 300px;
    justify-content: center;
    align-content:center ;
    background-color: white;
    
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.input-icons i {
    position: absolute;
}

.icon {
    padding: 13px;
    min-width: 50px;
    text-align: center;
    color: black;
}

.input-field {
    padding: 10px;
    text-align: center;
}