<div class="wrapper column full-center">

    <div class="container ">
    <div class="contact-info">
        <h2>Contact Information</h2>
        <p>Say something to start a live chat!</p>
        <ul>
            <li><span>📞</span> +212 3456 789</li>
            <li><span>📧</span> Bda.EnsiEnsi.Ma</li>
            <li><span>📍</span> 132 Dartmouth Street Boston, Massachusetts 02156 United States</li>
        </ul>
    </div>
    <div class="contact-form">
        <form>
            <div class="input-box">
                <input type="text" name="first_name" required>
                <label>First Name</label>
            </div>
            <div class="input-box">
                <input type="text" name="last_name" required>
                <label>Last Name</label>
            </div>
            <div class="input-box">
                <input type="email" name="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <input type="tel" name="phone" required>
                <label>Phone Number</label>
            </div>
            <div class="input-box message-box">
                <textarea name="message" required></textarea>
                <label>Message</label>
            </div>
            <div class="button">
                <input type="submit" value="Send Message">
            </div>
        </form>
    </div>
</div>

</div>