<div class="wrapper">
  <div class="grid full-center">
    history
    <div class="row gap-4 align-center event-card" *ngFor="let event of events">
      @if(event.archived == true){
      <div class="column">
        <img src="{{ event.poster }}" alt="" />
      </div>
      <div class="column full-center event-card-text">
        <h2>
          {{ event.title }}
        </h2>
        <p class="center-text">
          {{ event.description }}
        </p>
        <p>
          <br /><br />
          Date :{{ event.date }} <br />
          Time :{{ event.time }} <br />
          ticket :{{ event.ticket === false ? "N/A" : "Required" }}<br />Price
          :{{ event.price == 0 ? "FREE" : event.price }}
        </p>
        <div class="row gap-05"></div>
      </div>
        }
    </div>
  </div>
</div>
