<div class="wrapper full-center column gap-1">
    <img [src]="club.logo" alt="" class="" />
    <h2>{{ club.name }}</h2>
    <div class="row gap-05">
      <span>name: </span>
      <p>{{ club.name }}</p>
    </div>
    <p-rating
      [(ngModel)]="club.rate"
      [readonly]="true"
      iconCancelClass="hidden"
    ></p-rating>
  
    <div class="row gap-05">
      <button
      type="button"
      pButton
      icon="pi pi-pencil"
      (click)="editclub()"
      label="Edit"
    ></button>
  
    <button
      type="button"
      pButton
      icon="pi pi-trash"
      (click)="confirmDelete()"
      label="Delete"
      #deleteButton
    ></button>
    </div>
   
  </div>
  <p-confirmPopup></p-confirmPopup>
  
  
  
  