<p-dialog [header]="header" [(visible)]="display" [style]="{width:'auto', }" >
    <div class="column gap-1 left align-center">
      <!--Name-->
      <div class="row gap-1">
        <span class="price-label">Firstname </span>
        <input type="text" [(ngModel)]="member.user.firstName" />
      </div>
  
      <!--Description-->
      <div class="row gap-1">
        <span class="price-label">Lastname:</span>
        <input type="text" [(ngModel)]="member.user.lastName" />
      </div>
  
      <!--Location-->
      <div class="row gap-1">
        <span class="price-label">Email:</span>
        <input type="text" [(ngModel)]="member.user.email" />
      </div>

      <div class="row gap-1">
        <span class="price-label">Role</span>
        <input type="text" [(ngModel)]="member.role" />
      </div>

      <div class="row gap-1">
        <span class="price-label">password:</span>
        <input type="text" [(ngModel)]="member" />
      </div>

      

      <div class="row gap-1">
        <span class="price-label">Prix:</span>
        <input type="text" [(ngModel)]="member" />
      </div>
  
      
    </div>
    <p-footer >
      <div class="row space-around">
      <button
        class="edit-button"
        type="button"
        pButton
        icon="pi pi-check"
        (click)="onConfirm()"
        
      ></button>
      
      <button
        class="edit-button"
        type="button"
        pButton
        icon="pi pi-times"
        (click)="onCancel()"
        
      ></button>
  </div>
      
    </p-footer>
  </p-dialog>
  