<div class="wrapper row space-between align-center">
  <div class="column justify-left align-center">
    <img src="../../../../assets/logos/ensi.png" class="logo" />
    
    <p>Contact&#64;ensi.ma</p>
    
  </div>

  <div class="column justify-right align-center">
    
      <div class="row space-between">
        <img src="../../../../assets/icons/facebook.png" class="icon"/>
        <img src="../../../../assets/icons/instagram.png" class="icon"/>
        <img src="../../../../assets/icons/linkedin.png" class="icon"/>
      </div>
      
  
    <div class="row gap-2">
      <p>privacy policy</p>
      <p>terms & conditions</p>
    </div>
    
  </div>
   
</div>
<div class="wrapper column full-center">
  <p>©2024 ENSI | All rights reserved</p>
  
</div>
