.wrapper {
  width: 100%;
  padding:20px 20px 20px 20px;
  background-color: var(--header-color)
}

.search input::placeholder {
  text-align: center;
}
.search {
  flex-grow: 1;
}

input {
  height: 35px;
  width: 400px;
  padding: 15px;
  border-radius: 15px;
}

.logo {
  width: 160px;
  object-fit: contain;
}

li{
  gap: 10px ;
  background-color: #E73639;
  padding: 5px 10px 5px 10px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  list-style-type: none;
  transition: transform 0.3s ease;
  
}

.all {
  color: white;
  cursor: pointer;
}

.all:hover{
  color:#E73639
}

li:hover{
  background-color: white;
  transform: scale(1.025, 1.025);
}