<div class="wrapper row space-between align-center">
  <img src="../../../assets/logos/ensi.png" class="logo" /><img />
  @if(getToken()){
  <div class="search row full-center ">
    <span><input type="text" placeholder="Search" /></span>
    <p-button icon="pi pi-search" [rounded]="true" [text]="true" severity="secondary" (onClick)="logout()"  />
  </div>
  
  <h2 class="all" (click)="allRedirect()">All</h2>
  <p-button class="button" icon="pi pi-cog" [rounded]="true" [text]="true" severity="secondary" (onClick)="profileRedirect()"/>
  <li (click)="logout()">Logout</li>}
</div>
