<div class="wrapper">
  <div class="grid full-center">
    <div
      class="row gap-4 full-center event-card"
      *ngFor="let event of events"
      (edit)="toggleEditPopup(event)"
      (delete)="toggleDeletePopup(event)"
    >
      @if(!event.archived){
      <div class="column justify-left gap-4">
        <img src="../../../../../assets/logos/ensi.png" alt="">
        
      </div>
      <div class="column full-center event-card-text">
        <h2>
          {{ event.title }}
        </h2>
        <p class="center-text">
          {{ event.description }}
        </p>
        <p>
          <br /><br />
          Date :{{ event.date }} <br />
          Time :{{ event.time }} <br />
          ticket :{{ event.ticket === false ? "N/A" : "Required" }}<br />Price
          :{{ event.price == 0 ? "FREE" : event.price }}
        </p>

        <div class="row gap-05">
          <button
            class="edit-button"
            type="button"
            (click)="toggleEditPopup(event)"
            pButton
            icon="pi pi-pencil"
          ></button>

          <button
            class="edit-button"
            type="button"
            pButton
            (click)="confirmDelete(event)"
            icon="pi pi-trash"
            #deleteButton
          ></button>
        </div>
      </div>}
    </div>
    
    <div class="row full-center">
      <button
        class="add-button"
        type="button"
        pButton
        icon="pi pi-plus"
        (click)="toggleAddPopup()"
      ></button>
    </div>
  </div>

  <!--add popup-->
  <app-edit-popup
    [(display)]="displayEditPopup"
    header="Edit event"
    [event]="selectedEvent"
    (confirm)="onConfirmeEdit($event)"
  ></app-edit-popup>

  <app-edit-popup
    [(display)]="displayAddPopup"
    header="Add event"
    (confirm)="onConfirmeAdd($event)"
  ></app-edit-popup>
</div>

<p-confirmPopup></p-confirmPopup>
