
.wrapper{
    padding: 30px;
   
}

.add-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: transparent;
    background-color: rgb(66, 67, 67);
}


.grid{
    display: grid;
    column-gap: 50px;
    row-gap: 70px;
    grid-template-columns: repeat(2, 1fr);
    
}

.event{

    padding: 20px 20px 20px 20px;
    }
    
    .event-card{
        justify-self: center;
        width: 640px;
        justify-content: center;
        padding: 20px 20px 20px 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        
    }
    
    .next-h2{
        width: 200px;
        justify-self: left;
    }
    
    .event-card-text{
        max-width:300px;
    }
    
    
.edit-button { 
    background-color: transparent;
    border-color: transparent;
    color: var(--red)
}

.gap-4{
    gap: 4rem;
}

.justify-left { 
    align-items: left;
}