.gap-row{
    gap: 77px
}

.gap-col{
    gap: 36px
}

.wrapper{
   
    background-color: #E8E8E8;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 5px;
    height: 45px;
    min-width: 360px;
    padding: 20px;
    padding-left: 40px;
    
}

button{
    border-radius: 5px;
    height: 45px;
    min-width: 360px;
    justify-content: center;
    align-content:center ;
    background-color: white;
    
}

.mt-row{
   
    margin-bottom: 60px;
}


.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.input-icons i {
    position: absolute;
}

.icon {
    padding: 13px;
    min-width: 50px;
    text-align: center;
    color: black;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

