:root{
    --primary-color: #FFFFFF
    --secondary-color:#E73639
    --bg-color: linear-gradient(165deg, black 60%, #E8E8E8 60%,);
    --header-color:rgb(18, 17, 17);
    --border-color:rgba(223, 217, 217, 0.337);
}